<p><h2>Welkom op help.min-bz.nl</h2><p>
                <p>U kunt hieronder inloggen</p>
                <form name="login" method="POST" action="">
                 <table width="100%">
                        <tr>
                                <td>BSN</td>
                                <td><input type="text" name="bsn"> </input></td>
                        </tr>
                        <tr>
                                <td>Password</td>
                                <td><input type="password" name="password"></input></td>
                        </tr>
                        <tr>    <td><input type="submit" name="login" value="login"></input></td>
                        </tr>
                </table>
                </form>
        </p>

