body div {
	border:none;
	padding:0;
	margin:0;
	}
#topbar {
	margin-top:-10px;
	width: 90%;
	height: 75px;
	}
#topbar > img {
	width: 99%;
}

#bluebar {
	width: 96%;
	height: 40px;
	background-color: #154273;
	}
#left {
	width: 50%;
	float:left;
	}

#threeleft {
	width: 25%;
	float: left;
	}
#threecenter {
	width: 50%;
	float: left;
	}

#threeright {
	width: 15%;
	float: left;
	text-align:right;
	}

#signature {
	display: block;
	}
#koenders {
	width: 250px;
	float: right;
	}

#right_center {
	width: 40%;
	float:left;
	}
#right {
	width: 6%;
	margin-right: -10px;
	margin-top: -10px;
	background-color: #154273;
	float:right;
	height: 900px;
}

#formulier {
	padding-left: 100px;
	}	
